@import url("https://fonts.googleapis.com/css?family=Montserrat");


$bright: #c7e40a;
$green: #aecc11;
$lime: #98ae0f;
$orange: #ff5100;
$light-orange: #fa6e1d;
$gray: #232020;
$light-gray: #5d5454;
$text: #e9e9e9;
$text-small: #b5b5ae;
$light-blue: #7ba1ac;
$teal: #d59707;
$light-blue_2: #7ba1aca3;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Antology';
  src: url('fonts/Antology.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSansMonoSlashed';
  src: url('fonts/DroidSansMonoSlashed.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Now';
  src: url('fonts/now/Now-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('fonts/Inconsolata-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('fonts/Inconsolata-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-VariableFont_slnt,wght.ttf');
  font-weight: bold;
  font-style: normal;
}

html {
  overflow: hidden;
}

body {

  box-sizing: border-box;
  background: radial-gradient(hsl(200, 40%, 20%), hsl(200, 30%, 6%));
  font-family: "Inconsolata", monospace;
  background: $lime;
}

.poster {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 1.0);
  filter: saturate(70%) contrast(85%);

  img {
    width: 100%;
    display: block;
    z-index: 1;
  }

  &:before {
    height: 4%;
    bottom: -4%;
    background-repeat: no-repeat;
    background-image: linear-gradient(177deg, rgba(0, 0, 0, 0.22) 10%, transparent 50%), linear-gradient(-177deg, rgba(0, 0, 0, 0.22) 10%, transparent 50%);
    background-size: 49% 100%;
    background-position: 2% 0, 98% 0;
  }

  &:after {
    height: 100%;
    top: 0;
    z-index: 2;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0.5%, rgba(0, 0, 0, 0.15) 1.2%, transparent 1.2%), linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0.5%, rgba(0, 0, 0, 0.15) 1.2%, transparent 1.2%), linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0.5%, rgba(0, 0, 0, 0.15) 1.2%, transparent 1.2%), linear-gradient(265deg, rgba(0, 0, 0, 0.2), transparent 10%), linear-gradient(5deg, rgba(0, 0, 0, 0.2), transparent 15%), linear-gradient(-5deg, rgba(0, 0, 0, 0.1), transparent 10%), linear-gradient(5deg, rgba(0, 0, 0, 0.1), transparent 10%), linear-gradient(-265deg, rgba(0, 0, 0, 0.2), transparent 10%), linear-gradient(-5deg, rgba(0, 0, 0, 0.2), transparent 15%), linear-gradient(266deg, rgba(0, 0, 0, 0.2), transparent 10%);
    background-size: 50% 100%, 100% 33.3333%, 100% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%;
    background-position: right top, left center, left bottom, left top, left top, right top, left center, right center, right center, left bottom;
  }
}

.poster:before,
.poster:after {
  content: '';
  width: 100%;
  left: 0;
  position: absolute;
}


.banner {
  background-color: #18819e;
  padding: 10px;
  font-family: 'Montserrat';
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 200%;
}

.name {
  letter-spacing: .2em;
  font-size: 1.4em;
  padding-bottom: 10px;
  background: rgb(26, 29, 17);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.canvas-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

h1 {
  font-family: "Inconsolata", monospace, normal;


  background: rgb(201, 220, 52);

  outline: thick #000000;
  font-size: 300%;
  text-align: left;
  border-bottom-width: 10px;
  border-color: rgb(255, 255, 255);
  padding: 10px;
  color: #000303;
  border-width: 10px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 200%;
  }
}



.headerContainer {
  display: flex;
  justify-content: center;
  padding-top:8px;
}

.post {
  position: absolute;
  scale: .5;
  top: -100%;
  z-index: -2;
}

.make-small {
  @keyframes make-small {
    0% {
      transform: scale(100%)
    }

    100% {
      transform: scale(50%)
    }
  }

  animation: make-small 2s;
  animation-fill-mode: forwards;

}

.main-container {

  width: 100%;
  top: 10%;
  padding: 130px 0 0;

}

.minimized {
  display: flex;
  padding: 10px;
}

.or {
  color: #383838;
  font-size: 1.5em;
  font-weight: bold;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4%;
  margin-right: 4%;
  justify-content: center;
  text-align: center;
}



.search-container {
  margin: 2%;
  display: flex;
  justify-content: center;
}

.search {
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

  color: rgb(12, 12, 12);
  font-size: 200%;
  padding: 5px;
  margin: 5px;
  font-weight: 500;
  // border-radius: 100px;
  border: none;
  box-shadow: 10px 10px #404c90;
}

@media (max-width: 800px) {
  .search {
    display: none;
  }
}




.map {
  border-color: rgb(29, 29, 29);

}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  margin: auto;

}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0%;
  }
}

input {
  display: flex;
  flex-grow: 4;
  font-size: 30px;
  text-align: center;
  background-color: #dee994;
  color: rgb(28, 43, 22);
  font-family: "Inconsolata", monospace;

  border: 0
}


@media (max-width: 800px) {
  input {
    font-size: 20px;

    padding: 10px;
  }
}

button {
  font-family: "Inconsolata", monospace;
}

button:active {
  box-shadow: none;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}



.grow {
  animation-duration: .3s;
  animation-name: grow;
  animation-fill-mode: forwards;
  background-color: #dcf633;
  color: black;
}

@keyframes grow {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.5;
  }

  75% {
    scale: 1.2;
  }

  100% {
    scale: 1.3;
  }
}

.snail {
  color: rgb(0, 251, 255);
  position: absolute;
  bottom: 30%;
  scale: 80%;
}

.options-container {


  background: rgb(25, 82, 74);
  background: linear-gradient(90deg, rgba(25, 82, 74, 1) 0%, rgba(8, 6, 82, 1) 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-top: 20px;
  width: 100%;

  div {
    font-size: 300%;
    margin: 10px;
    justify-content: center;
    text-align: center;
    color: rgb(143, 183, 0);

  }
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .options-container {
    height: 120%;
    top: -10%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;

  }
}

.address-options {
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

  color: rgb(12, 12, 12);
  font-size: 150%;
  padding: 2%;
  margin: 30px;
  font-weight: 500;
  // border-radius: 100px;
  border: none;
  box-shadow: 10px 10px #404c90;
}




.fade {
  position: fixed;
  top: 0px;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: #282c34c6;
  z-index: 105;
  align-items: center;
}

@keyframes spin3D {
  from {
    transform: rotate3d(.5, .5, .5, 360deg);
  }

  to {
    transform: rotate3d(0deg);
  }
}

.loading {
  position: absolute;
  z-index: 105;
  font-size: calc(10px + 1vmin);
  color: white;
  background: #282c34;
}

.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.leo-border-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63, 249, 220);
  background: linear-gradient(0deg, rgba(63, 249, 220, 0.5) 33%, rgb(193, 63, 249) 100%);
  animation: spin3D 1.8s linear 0s infinite;
}

.leo-core-1 {
  width: 100%;
  height: 100%;
  background-color: #37474f00;
  border-radius: 50%;
}

.leo-border-2 {
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(111, 251, 83);
  background: linear-gradient(0deg, rgba(181, 251, 83, 0.5) 33%, rgb(173, 251, 83) 100%);
  animation: spin3D 2.2s linear 0s infinite;
}

.leo-core-2 {
  width: 100%;
  height: 100%;
  background-color: #1d263000;
  border-radius: 50%;
}


.close-btn {

  color: #444;
  cursor: pointer;

  transition: 250ms ease;

  &:before,
  &:after {
    content: "";
    height: 2px;
    background: #444;

    transition: 250ms ease;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover,
  &:focus {

    border: 2px solid;
    border-radius: 100%;

    &:before,
    &:after {

      width: 50%;
      left: 25%;
    }
  }
}

.result {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  align-items: center;
  background: #c8c815;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 60px 0 0;

}

@media (max-width: 800px) {
  .result {
    scroll-margin-top: 5rem; 

  }

  .extra-padding {
    padding: 130px 0 0;
  }

}

.result-container {
  top: 0%;
  width: 100%;
  height: 100%;
  position: relative;
  background: #c8c815;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: -10;

}


.data-container {
  // float:right; width: 50%;
  // display: flex;
  // flex-direction: column;
  padding: 10px;
  overflow: hidden;
  align-items: center;
}

.address-title-container {
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  max-width: 80%;
}

.address-title {
  color: rgb(228, 228, 228);
  font-size: 1.5em;
  text-align: center;
  width: fit-content;
  margin: auto;
  font-weight: normal;
  position: relative;

}

.address-description {
  margin: auto;
  text-align: center;
}

.owner-container {
  width: fit-content;
  display: grid;
  margin: auto;
}

.rate-button-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.rate-button {
  position: absolute;
  top: 45%;
  left: 105%;
  font-size: 1.5em;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #d21010;
  height: 50px;
  border-style: none;
}

.owner-name {
  text-align: center;
  margin: auto;
  margin-bottom: 0px;
  font-size: 2em;
  font-weight: bold;
  background-color: #f2ff00;
  padding: 2px 15px;
  border-radius: 5px;
}



.owned_by {
  color: #b5b5ae;
  position: relative;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

.also-owns {
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  color: $lime;
  left: 60%;
  align-content: end;
  font-size: 1.1em;
}

.ampersand {
  font-size: 1.6em;
  color: #b5b5ae;
  width: 100%;
  display: grid;
  text-align: center;
  font-weight: bold;
  padding: 4px;
}


label {
  color: rgb(0, 0, 0);
}

.map-container {
  height: 100%;
  width: 100%;
}

.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.small-header {
  position: absolute;
  left: 0%;
  top: -10px;
  font-size: .3em;
}

.data-rows {
  overflow-y: scroll;
  max-height: 250px;
  width: fit-content;
}

.related-businesses-title {
  color: white;
}

.related-businesses-list {
  width: fit-content;
}

.important {
  background-color: rgba(255, 255, 255, 0.391);
  font-size: 25px;
}

.view-business-data-button {
  width:fit-content;
  margin: 5px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  color:  $lime;
  border-color: $lime;
  background-color: #00000000;
  font-size: 1.3em;

  font-family: inherit;
  outline: inherit;
  border-style: solid;
  border-radius: 5px;

  text-align: left;

  :hover {
    background-color: $teal;
  }
}

@media (max-width: 800px) {
  // .small-header {
  //   position: relative;
  //   left: 0%;
  //   top: -2%;
  //   font-size: .3em;
  // }

  // .headerContainer {
  //   justify-content: left;
  // }
}




h2 {
  align-items: center;
  font-size: 300%;
}

h3 {
  font-size: 25px;
  margin: 10px;
}

h4 {
  font-size: 15px;
  margin-left: 20px;
  margin-top: 0px;
}

.owner-label {
  background-color: rgba(255, 255, 255, 0.45);
  font-size: 1.5em;
  padding: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

table {
  width: 80%;
  table-layout: auto;
  background-color: rgba(205, 205, 205, 0.903);
  border-color: #000000;
  border-collapse: collapse;
  overflow: scroll;
  display: block;

}




th {
  text-align: center;
}

td {
  padding: 3px;
  border: 2px solid rgba(83, 83, 83, 0.647);
  width: 1px;
  white-space: nowrap;
}

table tr:first-child td {
  border-top: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:last-child {
  border-right: 0;
}

.bold {
  font-weight: bold;
}



.left {
  top: 2.5%;
  height: 90%;
  left: 2.5%;
  width: 35%;
  position: absolute;
}

.right {
  top: 5%;
  height: 100%;
  right: 0%;
  width: 60%;
  position: fixed;
  overflow-y: scroll;
  background-color: $gray;
  border-width: 10px;
  margin-top: 20px;
  scroll-margin: 130px;
}

.locations-container {
  margin: auto;
  width: 100%;
  max-width: 600px;
  padding-top: 10px;

}

.counts-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}


.counts-element {

  text-align: center;
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: 1%;
  min-width: fit-content;
  padding-bottom: 5px;
  color: $lime
}

.counts-element:before {
  content: '';
  float: left;
  width: auto;
}

.count-number {
  font-size: 2.5em;
}

@keyframes right-up-animation {
  from {
    top: 32%;
    height: 66.66%;
  }

  to {
    top: 0%;
    height: 100%;
  }
}

@keyframes right-down-animation {
  from {
    top: 32%;
    height: 66.66%;
  }

  to {
    top: 0%;
    height: 100%;
  }
}



@media (max-width: 800px) {
  .left {
    top: 0%;
    height: 33.33%;
    width: 100%;
    left: 0%;
    position: absolute;
  }

  .right {
    top: 33.33%;
    height: 66.66%;
    width: 100%;
    right: 0%;
    position: absolute;
    z-index: 100;


  }

  .right-up {
    animation: right-up-animation .4s ease-in;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }

  .right-down {
    animation: right-down-animation .4s ease-in;
    animation-direction: reverse;
    animation-fill-mode: forwards;
  }
}

.main-marker {
  background-image: url('marker.png');
  background-size: cover;
  width: 35px;
  height: 80px;
  cursor: pointer;
  padding: 0;
  z-index: 2;

}


.marker {
  background-image: url('main_marker.png');
  background-size: cover;
  width: 30px;
  height: 60px;
  cursor: pointer;
  padding-bottom: 10px;
}

.mapboxgl-popup-content {
  background-color: rgba(255, 255, 255) !important;
  border-left-style: solid !important;

  border-right-style: solid !important;

  border-width: 1px !important;
  border-color: white !important;
  padding: 2px 4px 4px !important;
  a {
    text-decoration: none;
    letter-spacing: .05em;
    background-color: transparent;
    font-size: 1em;
    font-weight: bold;
    color: black;
  }
  font-family: "Inconsolata", monospace, normal;
  opacity: 80%;
}

.mapboxgl-popup-tip {
  border-top-color: rgb(255, 255, 255) !important;
  opacity: 80%;

}

.mapboxgl-popup-close-button {
  display: none;
}

.review-marker {
  font-size: 1.0em;
}

.show-others {
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

  color: rgb(12, 12, 12);
  font-size: 100%;
  padding: 2%;
  margin: 30px;
  font-weight: 500;
  // border-radius: 100px;
  border: none;
  box-shadow: 10px 10px #404c90;

  :hover {
    color: #ff0000
  }
}


.dot {
  height: 20px;
  width: 20px;
  background-color: #2d2d2d;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  left: 5px;
  position: absolute;
  top: 3px;
  color: white;
}

.screen {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #282c346c;
}

.menu-container {
  position: absolute;
  text-align: left;
  width: 200px;
  position: absolute;
  z-index: 100;
  bottom: 0%;
}

.menu-item {
  text-align: right;
  /* height: 10px; */
  /* padding: 10px; */
  padding: 4px;
  background: rgba(142, 145, 62, 0.663);
  color: white;
  display: table;
  margin: 10px;
  border-radius: 10px;
  z-index: 10;
}

.show {
  display: block;
}

.address {
  display: inline;
  white-space: nowrap;
}

.menu-link {
  display: inline;
  // text-align: right;
  background: rgb(179 199 23);
  /* padding-left: 6px 
px
; */
  margin-left: 10px;
  padding-left: 5px;
  // padding-bottom: 3px;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 10px;
  width: 20px;
  font-size: 1.1em;
  /* left: 60%; */
  color: black;
}

.data-row {
  padding-left: 20px;
  padding-right: 20px;
  background-color: $lime;
  margin-bottom: 2px;
  margin-top: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}



.address-group {
  display: block;
  margin: 10px;
  background-color: #afd60097;
  width: fit-content;
  block-size: fit-content;
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;


}

.address-groups {
  width: 80%;
  max-height: 200px;
  block-size: fit-content;
  overflow-y: scroll;
  background-color: #00000095;
  top: 10%;
  align-items: right;
}

.address-link {
  color: black;
  padding: -2px;
  margin: -2px;
  display: block;
  padding-bottom: 0px;
  margin-bottom: -10px;
  margin-top: 10px;
  padding: 2px;
  font-weight: bold;
  border-radius: 10px;


}

/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(0, 0, 0) rgba(179, 255, 0, 0.397);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(179, 255, 0, 0.397);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 3px solid rgba(179, 255, 0, 0.397);
}

.address-menu-container {

  width: 50%;
  height: 100%;
  position: absolute;
}

.survey-container {
  margin-left: auto;
  margin-right: auto;
  color: $text-small;
  margin-top: 20px;
  background-color: #949616c3;
  padding: 10px;
  box-shadow: 10px 10px rgb(0 0 0 / 42%);
  max-width: 500px;
  border-style: solid;
  border-radius: 25px;
  border-width: 2px;
  border-color: $lime;
  margin-bottom: 300px;
  scroll-margin: 150px;
}

.survey-title {
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  letter-spacing: .2em;
  color: $bright;

  text-align: center;
  font-size: 2.0em;
  font-weight:normal;
  padding: 2px 15px;
  border-radius: 5px;
}

.question {
  color: $bright;
  background-color: rgba(0, 0, 0, 0.72);
  box-shadow: 2px 2px rgb(0 0 0 / 42%);
  margin-bottom: 20px;
  font-size: 1.2em;
  padding: 2px;
  p {
    padding-left: 10px;
    margin-bottom: 0px;

  }

  textarea {
    margin-top: 10px;
  }
}



.answer {
  color: $gray;
  background-color: #909090;
  box-shadow: 5px 5px rgb(0 0 0 / 42%);
  margin: 5px;
  border-style: none;
  font-size: 1.1em;
  padding: 5px;
  border-radius: 5px;
  flex-grow: 4;
  font-weight: bold;
}

.answer.active {
  background-color: #82ad01;
  font-weight: bold;
}

.answers {
  display: flex;
}

.business-data {
  display: inline-flex;
  justify-content: space-evenly;

  background: repeating-linear-gradient(
    45deg,
    #303030,
    #303030 10px,
    #000000 10px,
    #000000 20px
  );  border: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.436);
  padding: 5px;
  width: 90%


}




svg {
  padding: 5px;
  background-color: #000000
}

.top-business-node {
  font-family: "Inconsolata", monospace, normal;
  font-size: 3em;
}

.business-node {
  font-family: "Inconsolata", monospace, normal;
  font-size: 1.5em;
}

.via-wrapper {
  padding: 10px;
  display: flex;
}

.via {
  padding: 2px;
  color: #c9c9c9;
  // margin: auto;
  margin-left: 20px;
}

.via-text {
  color: white;
}

.evictions-wrapper {
  padding: 5px;
  align-items: center;
  display: grid;
  max-width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
}

.evictions {
  padding: 10px;
  border-style: none;
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
  // box-shadow: 6px 6px 0px rgb(255, 145, 0);
  // background-color: $orange;
  // box-shadow: 6px 6px 0px $lime;
  color: rgb(255, 54, 111);
  width: fit-content;
  margin: auto;
}

.table-wrapper {
  position: absolute;
  left: 1%;
  max-width: 123%;

}



.properties {

  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: fit-content;
  border-style: dotted;
  border-width: 3px;
  border-color: $light-blue;
}

.market-value-str {
  margin: auto;
  width: fit-content;
  color: $light-blue;
  font-size: 1em;
}

.market-value {
  margin: auto;
  width: fit-content;
  font-size: 1.5em;
  color: #18819e;
  font-weight: bold;
  display: flex;

}
@media (max-width: 800px) {
  .full-screen {
    pointer-events: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    position: fixed;
    overflow: hidden;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%);
  }
  // .full-screen::before {
  //   animation: bounce 1.5s ease infinite;
  //   bottom: 2rem;
  //   color: #ffffffbd;
  //   content: '⭣';
  //   font-size: 2rem;
  //   height: 4rem;
  //   left: 50%;
  //   letter-spacing: -1px;
  //   line-height: 4rem;
  //   margin-left: -3rem;
  //   opacity: 0.8;
  //   position: absolute;
  //   text-align: center;
  //   width: 6rem;
  // }

  // @keyframes bounce {
  //   50% {
  //     transform: translateY(-50%);
  //   }
  // }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.action-items {
  margin: auto;
  margin-top: 20px;
  padding-bottom: 50px;
  max-width: 500px;
}

.action {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  display: block;
  color: black;
  border-style: none;
  font-size: 1.0em;
  // box-shadow: 10px 10px rgb(121, 121, 121);
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
}

.orange {
  background-color: #e7881b;
  box-shadow: 3px 3px #ff9d00;

  color: black
}

.green {
  background-color: $lime;
  box-shadow: 3px 3px rgb(204, 255, 0);

  color: black
}

.blue {
  background-color: #339ab6;
  box-shadow: 3px 3px rgb(0, 221, 255);

  color: black
}



.action:after {
  content: '';
  width: 100%;
  left: 0;
  display: block;
  position: absolute;
}

.marker-inline-wrapper {
  width: fit-content;
  position: relative;
}

.marker-inline {
  background-image: url('marker-inline.png');
  background-size: cover;
  width: 50px;
  height: 60px;
  cursor: pointer;
  display: inline-block;
  transform: scale(.5, .5);
  position: absolute;
  left: 50%;
  top: -30%;
}

.main-marker-inline {
  background-image: url('main-marker-inline.png');
  background-size: cover;
  width: 50px;
  height: 60px;
  cursor: pointer;
  display: inline-block;
  transform: scale(.5, .5);
  position: absolute;
  left: 80%;
  top: -30%;
}

textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  background-color: $light-blue;
  border-style: none;
}


.checkbox-wrapper {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}


.checkbox-line {
  background-color: #909090;
  display: block;
  position: relative;
  padding: 4px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: .8em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-line input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-line:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-line input:checked ~ .checkmark {
  background-color: #18819e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-line:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-line input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-line .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.all-of-them {
  text-align: center;
  background-color: #8989899b;
}

.thanks {
  text-align: center;
  width: fit-content;
  margin: auto;
}

.business-info {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.hierarchy-icon {
  margin: auto;
  border-style: solid;
  border-color: rgb(101, 149, 30);
}

.hierarchy-line {
  stroke-width: 6
}

.hiearchy-name {
  display: inline-grid;
  color: white;
  margin: 5px;
}

.hierarchy-wrapper {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 85px;
  background-color: #77ff0093;
}

.hierarchy {
  top: 40%;
  position: relative;
  width: 50%;
  height: 50%;
  margin: auto;
}

@media (max-width: 800px) {

  .hierarchy {
    top: 20%;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

//Settings
$line-height: 8px;
$line-height-hover: 15px;
$line-color: #a1905d;
$line-transition: all .2s cubic-bezier(.25,.46,.45,.94);

.button-close-wrapper {
  width: 100%;
  position: absolute;
}

.button-close{
  position: relative;
  width: 40px;
  height: 40px;
  background: #b00e0e;
  color: $line-color;
  border: 1px solid #a1905d;
  margin: 100px auto;
  outline: none;
  border-radius: 20px;

  
  &:hover{
    &:before{
      width: $line-height-hover;
    }
    
    &:after{
      width: $line-height-hover;
    }
  }
  
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 1px;
    border-left: $line-height solid currentColor;
    border-right: $line-height solid currentColor;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
    transition: $line-transition;
  }
  
  &:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 1px;
    border-left: $line-height solid currentColor;
    border-right: $line-height solid currentColor;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
    transition: $line-transition;
  }
}


.submit-button-wrapper {
  text-align:center;
  width: 100%;
}
.submit-button {
  margin: auto;
  width: fit-content;
  padding: 10px;
  font-size: 1.4em;
  border-style: none;
  border-radius: 10px;
  background-color: $bright;

}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #3f3f3f;
  color: #666666;
}

.button__text {
  transition: all 0.2s;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}







.report {
  background-image: url('flag.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0px;
  z-index: 2;
  display: inline-block;

}

.disclaimer-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #31391bb8;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.disclaimer {
  font-size: .8em;
  margin: auto;
  margin-top: 10px;
  width: 80%;
  max-width: 500px;
  color: white;
  background-color: #000000;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: $orange;
  span {
    display: block;
  }
}

.got-it {
  display: block;
  font-size: 1.2em;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  border-style: none;
  font-weight: bold;
  max-width: fit-content;
}

.disclaimer-title {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5em;
}

.ratings-button-wrapper {
  text-align: center;
  margin: auto;
  display: grid;
  margin-top: 10px;

}

.ratings-button {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #00000000;
  border-style: none;
}

.ratings-circle-wrapper {
  position: relative;
  height: 100%;
  width: 100%;


}

.ratings-circle {
  width: fit-content;
  border-style: solid;
  border-color: $lime;
  background-color: transparent;
  padding: 5px;
  margin: auto;
  margin-top: 20px;

  // border-style: solid;
  // border-color: $orange;

  color: $lime;
  font-size: 20px;
  display: flex;


}

.ratings-circle:hover {
  background-color: $lime;
  color: black;
}


.ratings-warning {
  background-image: url('warning.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  padding: 0;
  z-index: 2;

}

.reviews-wrapper {
  display: block;
  text-align: left;
  border-color: $lime;
  border-top-style: none;
  padding: 20px;
  background-color: #5a5c0ec3;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  // max-width: 500px;
  
}

.ratings-wrapper {
  margin: auto;
  width: fit-content;
  margin-top: 50px;

}

.review-statement{
  font-size: .55em;
  padding: 4px;
}

.reviews-title {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;

  margin-top: 15px;
  font-size: 1.0em;
  color: $lime;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.review-question {
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px;
  color:$bright;

}

.review-answer {

  font-size: 1.1em;
  padding-left: 10%;
  span.count {
    color:$lime;
  }
  span.statment {
    font-weight: bold;

    color:#e5e5e5
  }
}

.review-section {
  padding-bottom: 20px;
  border-style: solid;
  border-color: $lime;
  border-width: 1px;
  margin-bottom: 10px;
  background-color: #000000a7;
}

.emoji {
  scale: .5;
}

.review-type-bttn {
  color: $lime;
  background-color: transparent;
  border-style: solid;
  border-top-left-radius: 50px;
  border-color: $lime;
  padding: 5px;
  flex-grow: 4;
  font-size: 1.1em;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;

  :hover {
    background-color: $lime;
  }
}

.review-type-bttn.selected {
  background-color: $lime;
  color: black;
  font-weight: bold;
  border-style: none;


}

.open-reviews {
  transition: max-height 0.2s ease-out;
}

.comment {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  font-size: 1.1em;
  color: $bright;
  background-color: #000000a7;
}

.comment-title {
  padding-top: 5px;
  color: $bright;
  text-shadow: 2px 2px #000000;
  letter-spacing: .4em;
  font-size: 1.2em;
  text-align: center;
}

.leave-a-review-wrapper {
  width: 100%;
  display: grid;
  padding: 5px;
  font-size: 1.5em;
  
}

.leave-a-review {
  background-color: $lime;
  border-style: none;
  text-align: center;
  width: fit-content;
  margin: auto;
  font-weight: bold;
  font-size: .8em;
  padding: 10px;
}

.jump-to-reviews-wrapper {
  position: fixed;
  text-align:center;

}

.jump-to-reviews {
  width: 100%;
  position: fixed;
  bottom: 0px;
  color: $gray;
  background-color: $light-orange;
  border-color: $orange;
  border-style: solid;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 4px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  letter-spacing: .14em;
  font-weight: bold;
  padding-right: 0px;
  padding-bottom: 5px;

}

@keyframes jump-up-animation {
  from {
    bottom: -100px;
  }

  to {
    bottom: 0px;
  }
}

@keyframes jump-down-animation {
  from {
    bottom: 0px;
  }

  to {
    bottom: -100px;
  }
}

.show-jump {
  animation: jump-up-animation .4s ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.hide-jump {
  animation: jump-down-animation .4s ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
}


.header {
  font-size: 1.6 em;
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  z-index: 100;
  width: 100%;
  display: inline-flex;
  padding-top: 5px;
  position: fixed;
  scroll-margin-top: 5rem; 
  border-bottom-style: solid;
  border-color: $lime;
}

.logo {
  background-color: transparent;
  border-style: none;
  margin: auto;

}

.logo img {
  max-width: 100px;

}

.right-buttons {
  text-align: right;
  width: fit-content;
  margin-left: auto;
  margin: auto;
  padding-bottom: 10px;
  button {

    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
    padding: 5px;
    background-color: transparent;
    border-color: #3c4233;
    border-style: solid;
    color: rgba(219, 219, 219, 0.897);
    font-size: 1.2em;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
  }
  :hover {
    background-color: #18819e;
  }
}

.donateBtn {
  background-color: #3c4233;
}

.approval-table {
  margin: 10px;
  margin: auto;
  border-style: solid;
  td {
    margin: 10px;
  }
  button {
    margin: 10px;
  }

}

.approved {
  background-color: $lime;
}
.rejected {
  background-color: rgb(188, 81, 81);
}


@media (max-width: 800px) {
  .right-buttons button  {
    font-size: .9em;
    width: fit-content;
    padding-top: 2px;
  }
}



.body {
  height: 100%;
  position: relative;
  
}

.banner {
  width: 100%;
  border-style: none;
    background-color: #3c7eff;
    

    font-family: 'Inter';
    color: #fbe100;
    font-weight: 900;
    letter-spacing: 0.35rem;
    text-transform: uppercase;
    font-size: 1.1em;
    .lets {
      // color: rgb(0, 0, 0);
      margin-bottom: 5px;
    }

    .vote {
      font-size: 1.2em;
      font-weight: bolder;
      color: black;
    }

    .vote-date {
      color: white;
      font-size: .7em;
    }

    button {

      font-family: 'Inter';
      font-size: 1.2em;
      padding: 10px;
      background-color: #ffffff90;
      border-style: none;
      margin-top: 5px;
      width: fit-content;
      border-radius: 10px;
      letter-spacing: 0.1rem;

    }

}

.banner-wrapper {
  position: relative;
  :hover {
    background-color: #6a9cff;
  }
}

.circle-button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #007BFF;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-size: 12px; /* Adjust font size as needed */
}

.circle-button::before {
  content: "Stand against Landlord Greed";
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.campaign {
  font-family: 'Inter';
  font-size: 3.2em;
  path {
    fill: transparent;
  }
  
  text {
    fill: #FF9800;
  }
}

small {
  font-size: .8em;
  font-weight: normal;
  letter-spacing: 0.08rem;
}

.image_logo {
  height: 60px;
  margin: 5px;
}

.organize-wrapper {
  position: absolute;
  width: 100%;
  height: calc( 100vh - ( 140px ) ); 
  background-color: rgb(99, 99, 99);
  overflow-y: scroll;
  font-size: 1.0em;
  padding: 130px 0 0;
  scroll-margin-top: 130px; 
  scroll-margin-bottom: 500px; 
  padding-bottom: 300px;

}
.org-section {
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  background-color: #323232;
  max-width: 500px;
  letter-spacing: 0.0em;
  scroll-margin-top: 130px; 
  width: 90%;
}

.org-title {
  margin: auto;
  font-size: 1.9em;
  color: rgb(187, 255, 0);
  letter-spacing: 0.2em;
  font-weight: bold;
}

.org-question {
  font-size: 1.3em;
  color: white;
  padding: 5px;
}

.org-desc {
  color: rgb(192, 192, 192);

}

.org-add {
  letter-spacing: -0.08rem;

  color: $lime;
  font-size: 1.2em;
}

.org-bullets {
  color: $lime;
  padding-left: 20px;
  padding-right: 20px;
}

.org-bullet {
  display:list-item;
  padding: 10px;
}

.org-answers {
  margin: auto;
  display: flex;

  button {
    background-color: #eaff00;
    border-style: none;
    font-size: 1.5em;
    padding: 10px;
    margin: 5px;
    flex-grow: 4;
    width: fit-content;



    .active {
      background-color: #a2af13;
    }
  }

  .selected {
    font-weight: bold;
    background-color: #7a9c12;
  }

  .disabled {
    background-color: #8c8c8c;
  }
}

.landlord-search-error-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.landlord-search-error {
  position: relative;
  margin:auto;
  width: fit-content;
  background-color: #494949;
  color: whitesmoke;
  font-size: 1.5em;
  padding: 10px;
}

.search-button-nav {
  border-style: none;
  font-size: 1.5em;
  letter-spacing: 0.1rem;

  border-style: none;
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  padding: 5px;
  background-color: #3c4233;
  color: rgb(219, 219, 219);
  font-size: 1.2em;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.dashed {
  margin-top: 20px;
  border-top: 3px dashed #bbb;
  border-radius: 5px;
}

.mobile-search {
}

@media (max-width: 800px) {
  .mobile-search {
    display:block;
    position: relative;
    
    button {
    position: absolute;
    width: 45px;
    height: 45px;
    border-style: none;
    right: -35px;
    top: -22.5px;
    border-radius: 30px;
    background-color:#18819e;
    font-weight: bold;
    color: white;
    font-size: 1.8em;
    }
  }

  .input-container {
    align-items: center;

  }
}



.input-container {
  display: flex;
}

.downArrow {
  text-align: center;
  width: 100%;
  top: 10%;
  font-weight: bold;
  font-size: 3.0em;
  color: $lime;

}

.org-join {
  text-align: center;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  padding: 10px;

  p {
    font-weight: bold;
  }

  input {
    padding: 10px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
  }

  button {
    border-style: none;
    margin: 10px;
    font-size: 1.3em;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background: radial-gradient(circle, rgb(222, 51, 125) 0%, rgb(159, 37, 135) 100%);
    color: white;
  }

  .small-text {
    font-size: .8em;
  }
}

.map-container-2 {
  height: 100%;
  width: 100%;
  min-width: 90px;
  min-height: 250px;
}

@media (max-width: 800px) {
  .map-container-2 {
    min-height: 200px;
  }
}





.map-wrapper {
  width: 90%;
  height: 20%;
  margin: auto;
  margin-bottom: 20px;
}

.reviews-map-title {
  color: #ffb1b1;
  margin: auto;
  width: fit-content;
  text-align: center;
  font-size: 1.3em;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  background-color: #393939;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  opacity: 90%;
  margin-bottom: 10px;
  border-radius: 300px;
  position: relative;

}

.search-title {
  width: fit-content;
  margin: auto;
  margin-bottom: 16px;
  font-size: 1.0em;
  font-style: italic;
  margin-top:25px;
}

.marker-text {
  background-color: white;
}