
.the-feed {
   margin: auto;
   width: 80%;
   max-width: 600px;
}

.feed-item {
    margin: 20px;
    background: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1.54em;

    a {
        text-decoration-line: none;
        padding-left: 5px;
        background-color: yellow;
        padding-right: 5px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        border-radius: 20px;
    }

    textarea {
        background-color: rgb(242, 216, 168);
        height: 200px;
        padding: 10px;
        font-size: 1.54em;
    }
}

.title {
    margin: auto;
    width: fit-content;
    font-size: 3em;
}

.small-text {
    font-size: .8em;
    padding-bottom: 20px;
}

.date-text {
    font-size: .8em;
    padding-top: 20px;
}